absl-py==2.1.0
aiobotocore==2.15.1
aioitertools==0.12.0
deepchecks==0.18.1
eli5==0.13.0
h5py==3.12.1
hpack==4.0.0
imbalanced-learn==0.12.3
imblearn==0.0
Jinja2==3.0.0
jmespath==1.0.1
joblib==1.4.2
keras==3.5.0
kiwisolver==1.4.7
lime==0.2.0.1
llvmlite==0.43.0
matplotlib==3.9.2
patsy==0.5.6
pep517==0.13.1
pillow==10.4.0
PyALE==1.2.0
pyarrow==17.0.0
pyparsing==3.1.4
psynlig==0.2.2.dev0
s3fs==2024.9.0
scikeras==0.12.0
scikit-image==0.24.0
scikit-learn==1.0.2
scikit-plot==0.3.7
#scipy==1.11.4
scipy
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.3
tabulate==0.9.0
tensorflow==2.17.0
tqdm==4.66.5
traces==0.6.4
wrapt==1.16.0
zstandard==0.23.0
xgboost==2.0.3
